<div class="card">
    <div class="card__row">
        <picture class="card__photo">
            <source srcset="{{image}}.webp" type="image/webp">
            <img loading="lazy" src="{{image}}.jpg" width="400" height="400" class="card__img" alt="">
        </picture>
        <div class="card__details-container">
            <div class="card__content">
                <h3>{{name}}</h3>
                <p>{{description}}</p>
            </div>
        </div>
    </div>
</div>