---
layout: default
title: Kudos TT Series past winners 
metaDescription: Past winners of the Kudos Time Trial Series
styles: hide-bg
---

<div class="cards">
  {% set image = "/images/tracy-gregory-winner-2021" %}
  {% set name = "Tracy Gregory" %}
  {% set description = "Winner of 2021 Women's Points Competition, Tracy Gregory, with her rewards from a £150 voucher at Cycle Space." %}
  {% include 'person.njk' %}
</div>