---
permalink: robots.txt
---
User-agent: *
allow: /

User-agent: GPTBot
Disallow: /

User-agent: ChatGPT-User
Disallow: /

User-agent: Google-Extended
Disallow: /

User-agent: CCBot
Disallow: /

sitemap: {{ meta.canonical }}/sitemap.xml