.card {
    background-color: $color-back;
    border-radius: .75rem;
    border: 2px solid $color-darkmode-fore;
    color: $color-fore;
    min-height: 4rem;
    padding: 1rem;
}

.card__row {
    display: flex;
    flex-wrap: wrap;
}

.card__photo {
    flex: 1;
    text-align: center;
}

.card__img {
    border-radius: 50%;
    height: auto;
    max-width: 17.75rem;
    object-fit: cover;
}
