ul>li {
  margin-bottom: .5rem;
}
ol {
  list-style-type: disc;
}
ol>li {
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: .5rem;
}
dl {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
dt::after {
  content: " : ";
}
dd {
  font-style: italic;
  margin-left: 1rem;
}
